<mat-toolbar color="primary">WebSocket Demo App</mat-toolbar>

<div class="container">

  <form class="form-container">

    <mat-form-field>
      <input name="address" placeholder="Address" [(ngModel)]="address" matInput>
      <button aria-label="Connect to websocket server!" (click)="connect()" 
      matSuffix mat-icon-button><mat-icon>send</mat-icon></button>
    </mat-form-field>
    
    <mat-form-field>
      <input name="message" placeholder="Message" (keyup)="onMessageKeyup($event)" [(ngModel)]="message" 
      [disabled]="!isConnected" matInput>
      <button aria-label="Send message!" (click)="send($event)" [disabled]="!isConnected"
      matSuffix mat-icon-button><mat-icon>send</mat-icon></button>
    </mat-form-field>

  </form>

  <div class="websocket-console" #console>
    <ng-template ngFor let-message [ngForOf]="messageLog | async" let-i="index">
      <pre style="word-wrap: break-word;">{{message}}</pre>
    </ng-template>
  </div>

</div>